body {
  margin-top: -20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#intro {
  margin-top: 0;
  margin-bottom: 50px;
}

header {
  background-color: #a239ca; /* Fuschia */
  height: auto;
  padding: 12px 0 6px 0;
}

header h1 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: #d9d9d9; /* Aluminum */
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 3px #ff0000;
}

h2 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 32;
  letter-spacing: 0.75px;
  color: #a239ca;
  margin-bottom: 12px;
  text-align: center;
}

p {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-size: 18.5px;
  line-height: 26px;
  letter-spacing: 0.55px;
}

code {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 23px;
  letter-spacing: 0.55px;
}

.callOutBox {
  width: 50%;
  margin: 35px auto 15px auto;
  border-top: 4.5px solid #a239ca;
  border-bottom: 4.5px solid #a239ca;
  border-radius: 12px;
  padding: 15px 35px;
}

.divider {
  width: 50%;
  margin: 35px auto;
  border-top: 5px dotted #a239ca;
}

.callOutBox p {
  font-weight: 500;
  letter-spacing: 0.65px;
  line-height: 32px;
  width: 95%;
  margin: 0 auto;
}

#dataSet {
  width: 50%;
  padding: 0 35px;
  margin: 12px auto 25px auto;
  border-left: 2.5px solid #a239ca;
  border-right: 2.5px solid #a239ca;
  background-color: rgba(128, 128, 128, 0.15);
  padding: 15px 0;
}

#dataSet p {
  font-weight: 500;
  margin-left: 35px;
  font-size: 19px;
}

#getResults {
  display: flex;
  width: 75%;
  align-items: flex-start;
  justify-content: space-between;
}

#validateZip {
  margin-left: 415px;
  height: 40px;
  width: 200px;
  border: 3px outset #d9d9d9;
  border-radius: 12px;
  background-color: #a239ca;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 17.5px;
  font-weight: 600;
  color: #ffffff;
  padding: 9px 4.5px 12px 4.5px;
  cursor: pointer;
}

#validateZip:hover {
  border: 3px inset #a239ca;
  background-color: rgba(162, 57, 202, 0.25);
  color: #a239ca;
  font-weight: 900;
  transition: all 0.5s;
}

/* Note that active styling below will also be styles
   set programatically after button is clicked.
*/

#validateZip:active {
  border: 3px inset #ff0000;
  background-color: #d9d9d9;
  color: #ff0000;
  transition: all ease-in-out 1s;
}

/**
 * CSS Code from this point forward is informed by
 * the following article:
 * 
 * https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/
 *
*/

#results {
  overflow: auto;
  --scrollbar-foreground: #a239ca;
  --scrollbar-background: rgba(162, 57, 202, 0.25);
  scrollbar-color: var(--scrollbar-foreground) var(scrollbar-background);
  height: 85px;
  width: 300px;
  border: 3px inset #808080;
  padding: 6px 15px 3px 15px;
  background-color: rgba(128, 128, 128, 0.25);
  background-color: transparent;
}

#results::-webkit-scrollbar {
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
}

#results::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}

#resuls::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

#results p {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 17.5px;
  margin: 0 0 3px 0;
}