fig1-application-landing-page.png filter=lfs diff=lfs merge=lfs -text
fig2-project-file-structure.png filter=lfs diff=lfs merge=lfs -text
fig3-bare-bones-html.png filter=lfs diff=lfs merge=lfs -text
code-listing-1.png filter=lfs diff=lfs merge=lfs -text
fig4-starter-code-listing.png filter=lfs diff=lfs merge=lfs -text
fig5-elements-to-be-captured.png filter=lfs diff=lfs merge=lfs -text
code-listing-2.png filter=lfs diff=lfs merge=lfs -text
fig6-chrome-console.png filter=lfs diff=lfs merge=lfs -text
fig7-console-with-nodes.png filter=lfs diff=lfs merge=lfs -text
fig8-console-matches.png filter=lfs diff=lfs merge=lfs -text
code-listing-3.png filter=lfs diff=lfs merge=lfs -text
code-listing-4.png filter=lfs diff=lfs merge=lfs -text
